# commented out packages are system python libraries
# cbor2==5.2.0
luma.core==2.5.3
luma.oled==3.14.0
pillow==11.3.0
# protobuf==3.20.3
pyftdi==0.57.1
pyserial==3.5
pyusb==1.3.1
# RPi.GPIO==0.7.1
# smbus==1.1.post2
# smbus2==0.5.0
# spidev==3.5
# Unidecode==1.3.6
