# Exclude all by default
/*

# Paths to include
!/docker/backend/piscsi_wrapper.sh
!/docker/web/web_start_wrapper.sh
!/cpp
!/doc
!/os_integration
!/proto
!/test
!/easyinstall.sh
!/go
!/LICENCE
!/README.md

!/go/**

# Dev artifacts to exclude
**/.git

/cpp/bin
/cpp/obj

**/.idea
**/.vscode
**/.DS_Store

**/core
**/*.swp
**/current

**/node_modules
**/messages.pot
**/messages.mo
