# Exclude all by default
/*

# Paths to include
!/docker/backend/piscsi_wrapper.sh
!/docker/web/web_start_wrapper.sh
!/doc
!/python
!/cpp
!/test
!/easyinstall.sh
!/LICENCE
!/README.md

# Dev artifacts to exclude
**/.git

/cpp/bin
/cpp/obj

**/venv*
**/*.pyc
**/__pycache__
**/.pytest_cache
**/rascsi_interface_pb2.py
**/report.xml

**/.idea
**/.vscode
**/.DS_Store

**/core
**/*.swp
**/current

**/node_modules
**/messages.pot
**/messages.mo
