venv
*.pyc
core
.idea/
.DS_Store
*.swp
__pycache__
current
piscsi_interface_pb2.py
*~
messages.pot
messages.mo
report.xml
node_modules

# Intermediate files from astyle
*.orig

docker/docker-compose.override.yml
/docker/volumes/images/*
!/docker/volumes/images/.gitkeep
/docker/volumes/config/*
!/docker/volumes/config/.gitkeep

# temporary user files
s.sh

# temporary kicad files
*-backups

# VSCode temp file
settings.json

# submodules
hfdisk*
mac-hard-disk-drivers
