[Unit]
Description=PiSCSI service
Documentation=https://piscsi.com/
After=network.target

[Service]
Type=simple
Restart=always
Environment=PISCSI_CONNECTION_TYPE=FULLSPEC
ExecStart=/usr/bin/piscsi -C ${PISCSI_CONNECTION_TYPE} -r 7
ExecStop=/usr/bin/scsictl -X
SyslogIdentifier=PISCSI

[Install]
WantedBy=multi-user.target
