# commented out packages are system python libraries
babel==2.17.0
bjoern==3.2.2
blinker==1.9.0
certifi==2025.11.12
charset-normalizer==2.1.1
click==8.1.8
flask==3.1.2
flask-babel==4.0.0
idna==3.11
importlib-metadata==8.7.0
itsdangerous==2.2.0
jinja2==3.1.6
MarkupSafe==3.0.3
# protobuf==3.20.3
python-pam==2.0.2
pytz==2023.3.post1
requests==2.32.4
# six==1.17.0
ua-parser==1.0.1
urllib3==2.6.0
vcgencmd==0.1.1
werkzeug==3.1.4
zipp==3.23.0
