Babel==2.13.1
bjoern==3.2.2
blinker==1.6.3
charset-normalizer==2.1.1
click==8.1.7
Flask==3.0.0
flask-babel==4.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
protobuf==3.20.2
pytz==2023.3.post1
requests==2.31.0
simplepam==0.1.5
ua-parser==0.16.1
vcgencmd==0.1.1
Werkzeug==3.0.1
