body {
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:none;
}

h1 {
  color: white;
  font-size:20px;
  background-color:black;
}

h2 {
  color: black;
  font-size:16px;
  margin: 0px;
}

a {
  text-decoration: none;
}

form {
  display: inline;
}

table, tr, td {
  border: 1px solid black;
  border-collapse:collapse;
  margin: none;
}

.error {
  color: white;
  font-size:20px;
  background-color:red;
}

.message {
  color: white;
  font-size:20px;
  background-color:green;
}

td.inactive {
  text-align:center;
  background-color:tan;
}
