{{define "upload.html"}}
{{template "document-head" .}}
<body>
{{template "page-header" .}}

<div class="content">
<h2>Upload File from Local Computer</h2>
<form action="/files/upload" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Destination</legend>
        <label for="destination">To directory:</label>
        <select name="destination" id="destination">
        <option value="disk_images" selected>{{ .ImageRootDir }}/</option>
        {{ if .FileServerDirExists }}
        <option value="shared_files">{{ .SharedRootDir }}/</option>
        {{ end }}
        <option value="piscsi_config">{{ .ConfigDir }}/</option>
        </select>
    </fieldset>
    <label for="file">File:</label>
    <input type="file" name="file" id="file" required>
    <input type="submit" value="Upload">
</form>
</div>

{{template "back-link" .}}
{{template "page-footer" .}}
</body>
</html>
{{end}}
