body {
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:none;
}

h1 {
  color: white;
  font-size:20px;
  background-color:black;
}

h2 {
  color: black;
  font-size:16px;
  margin: 0px;
}

a {
  text-decoration: none;
}

form {
  display: inline;
}

table, tr, td {
  border: 1px solid black;
  border-collapse:collapse;
  margin: none;
}

.error {
  color: white;
  font-size:20px;
  background-color:red;
}

.message {
  color: white;
  font-size:20px;
  background-color:green;
}

td.inactive {
  text-align:center;
  background-color:tan;
}

summary.heading {
  color: black;
  font-size: large;
  font-weight: bold;
  margin: 0px;
}

.dropzone, .dropzone * {
    box-sizing: border-box;
}

.dropzone {
    position: relative;
}

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    width: 120px;
    margin: .5em;
}

.dropzone .dz-preview .dz-progress {
    display: block;
    height: 15px;
    border: 1px solid #aaa;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    display: block;
    height: 100%;
    width: 0;
    background: green;
}

.dropzone .dz-preview .dz-error-message {
    color: red;
    display: none;
}

.dropzone .dz-preview.dz-error .dz-error-message {
    display: block;
}

.dropzone .dz-preview.dz-error .dz-error-mark {
    display: block;
    filter: drop-shadow(0px 0px 2px red);
}

.dropzone .dz-preview.dz-success .dz-success-mark {
    display: block;
    filter: drop-shadow(0px 0px 2px green);
}

.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
    position: absolute;
    display: none;
    left: 30px;
    top: 30px;
    width: 54px;
    height: 58px;
    left: 50%;
    margin-left: -27px;
}
