[Unit]
Description=RaSCSI-Web service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/RASCSI/src/web/start.sh --exclude_id=7
# exclude_id is set to 7 for Macintosh. Change to a different value for other platforms.
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RASCSIWEB

[Install]
WantedBy=multi-user.target
