[Unit]
Description=RaSCSI Control Board service
After=network.target rascsi.service

[Service]
Type=simple
Restart=always
RestartSec=2s
ExecStart=/home/pi/RASCSI/python/ctrlboard/start.sh
ExecStop=/bin/pkill --signal 2 -f "python3 src/main.py"
SyslogIdentifier=RASCSICTRLB

[Install]
WantedBy=multi-user.target
