<!doctype html>
<title>RaSCSI Control Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="content">
    <div class="header">
        {% block header %}{% endblock %}
    </div>
    <div class="flash">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == "stdout" or category == "stderr" %}
        <pre>{{message}}</pre>
        {% else %}
        <div class="{{category}}">{{ message }}</div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
</div>