{% extends "base.html" %}
{% block content %}

<details>
    <summary class="heading">
        {{ _("Current RaSCSI Configuration") }}
    </summary>
    <ul>
        <li>{{ _("Displays the currently attached devices for each available SCSI ID.") }}</li>
        <li>{{ _("Save and load device configurations, stored as json files in <tt>%(config_dir)s</tt>", config_dir=CFG_DIR) }}</tt></li>
        <li>{{ _("To have a particular device configuration load when RaSCSI starts, save it as <em>default</em>.") }}</li>
    </ul>
</details>

<p><form action="/config/load" method="post">
    <select name="name" required="" width="14">
        {% if config_files %}
        {% for config in config_files %}
        <option value="{{ config }}">
            {{ config.replace(".json", '') }}
        </option>
        {% endfor %}
        {% else %}
        <option disabled>
        {{ _("No saved configurations") }}
        </option>
        {% endif %}
    </select>
    <input name="load" type="submit" value="{{ _("Load") }}" onclick="return confirm('{{ _("Detach all current device and Load configuration?") }}')">
    <input name="delete" type="submit" value="{{ _("Delete") }}" onclick="return confirm('{{ _("Delete configuration file?") }}')">
</form></p>

<p><form action="/config/save" method="post">
    <input name="name" placeholder="default" size="20">
    <input type="submit" value="{{ _("Save") }}">
</form></p>

<table border="black" cellpadding="3">
    <tbody>
        <tr>
            <td><b>{{ _("ID") }}</b></td>
            {% if units %}
            <td><b>{{ _("LUN") }}</b></td>
            {% endif %}
            <td><b>{{ _("Type") }}</b></td>
            <td><b>{{ _("Status") }}</b></td>
            <td><b>{{ _("File") }}</b></td>
            <td><b>{{ _("Product") }}</b></td>
            <td><b>{{ _("Actions") }}</b></td>
        </tr>
        {% for device in devices %}
        <tr>
            {% if device["id"] not in reserved_scsi_ids %}
            <td style="text-align:center">{{ device.id }}</td>
            {% if units %}
            <td style="text-align:center">{{ device.unit }}</td>
            {% endif %}
            <td style="text-align:center">{{ device.device_type }}</td>
            <td style="text-align:center">{{ device.status }}</td>
            <td style="text-align:left">
                {% if "No Media" in device.status %}
                <form action="/scsi/attach" method="post">
                    <input name="scsi_id" type="hidden" value="{{ device.id }}">
                    <input name="unit" type="hidden" value="{{ device.unit }}">
                    <input name="type" type="hidden" value="{{ device.device_type }}">
                    <input name="file_size" type="hidden" value="{{ device.size }}">
                    <select type="select" name="file_name">
                    {% for f in files %}
                    {% if device.device_type == "SCCD" %}
                    {% if f["name"].lower().endswith(cdrom_file_suffix) %}
                    <option value="{{ f["name"] }}">{{ f["name"].replace(base_dir, '') }}</option>
                    {% endif %}
                    {% elif device.device_type == "SCRM" %}
                    {% if f["name"].lower().endswith(removable_file_suffix) %}
                    <option value="{{ f["name"] }}">{{ f["name"].replace(base_dir, '') }}</option>
                    {% endif %}
                    {% elif device.device_type == "SCMO" %}
                    {% if f["name"].lower().endswith(mo_file_suffix) %}
                    <option value="{{ f["name"] }}">{{ f["name"].replace(base_dir, '') }}</option>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    </select>
                    <input type="submit" value="{{ _("Attach") }}">
                </form>
            {% else %}
            {{ device.file }}
            {% endif %}
            </td>
            {% if device.vendor == "RaSCSI" %}
            <td style="text-align:center">{{ device.product }}</td>
            {% else %}
            <td style="text-align:center">{{ device.vendor }} {{ device.product }}</td>
            {% endif %}
            <td style="text-align:center">
            {% if device.device_type != "-" %}
                {% if device.device_type in REMOVABLE_DEVICE_TYPES and "No Media" not in device.status %}
                <form action="/scsi/eject" method="post" onsubmit="return confirm('{{ _("Eject Disk?  WARNING: On Mac OS, eject the Disk in the Finder instead!") }}')">
                    <input name="scsi_id" type="hidden" value="{{ device.id }}">
                    <input name="unit" type="hidden" value="{{ device.unit }}">
                    <input type="submit" value="{{ _("Eject") }}">
                </form>
                {% else %}
                <form action="/scsi/detach" method="post" onsubmit="return confirm('{{ _("Detach Device?") }}')">
                    <input name="scsi_id" type="hidden" value="{{ device.id }}">
                    <input name="unit" type="hidden" value="{{ device.unit }}">
                    <input type="submit" value="{{ _("Detach") }}">
                </form>
                {% endif %}
                <form action="/scsi/info" method="post">
                    <input name="scsi_id" type="hidden" value="{{ device.id }}">
                    <input name="unit" type="hidden" value="{{ device.unit }}">
                    <input type="submit" value="{{ _("Info") }}">
                </form>
            {% else %}
            <form action="/scsi/reserve" method="post" onsubmit="var memo = prompt('{{ _("Enter a memo for this reservation") }}'); if (memo === null) event.preventDefault(); document.getElementById('memo_{{ device.id }}').value = memo;">
                    <input name="scsi_id" type="hidden" value="{{ device.id }}">
                    <input name="memo" id="memo_{{ device.id }}" type="hidden" value="">
                    <input type="submit" value="{{ _("Reserve") }}">
                </form>
            {% endif %}
            </td>
            {% else %}
            <td class="inactive">{{ device.id }}</td>
            {% if units %}
            <td class="inactive"></td>
            {% endif %}
            <td class="inactive"></td>
            <td class="inactive">{{ _("Reserved ID") }}</td>
            <td class="inactive">{{ RESERVATIONS[device.id] }}</td>
            <td class="inactive"></td>
            <td class="inactive">
                <form action="/scsi/unreserve" method="post">
                    <input name="scsi_id" type="hidden" value="{{ device.id }}">
                    <input type="submit" value="{{ _("Unreserve") }}">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><form action="/scsi/detach_all" method="post" onsubmit="return confirm('{{ _("Detach all SCSI Devices?") }}')">
    <input type="submit" value="{{ _("Detach All Devices") }}">
</form></p>

<hr/>

<details>
    <summary class="heading">
        {{ _("Image File Management") }}
    </summary>
    <ul>
        <li>{{ _("Manage image files in the active RaSCSI image directory: <tt>%(directory)s</tt> with a scan depth of %(scan_depth)s.", directory=base_dir, scan_depth=scan_depth) }}</li>
        <li>{{ _("Select a valid SCSI ID and <a href=\"%(url)s\">LUN</a> to attach to. Unless you know what you're doing, always use LUN 0.", url="https://en.wikipedia.org/wiki/Logical_unit_number") }}
        </li>
        <li>{{ _("If RaSCSI was unable to detect the device type associated with the image, you can choose the type from the dropdown.") }}</li>
        <li>{{ _("Types: SAHD = SASI HDD | SCHD = SCSI HDD | SCRM = Removable | SCMO = Magneto-Optical | SCCD = CD-ROM | SCBR = Host Bridge | SCDP = DaynaPORT") }}</li>
    </ul>
</details>

<table border="black" cellpadding="3">
    <tbody>
        <tr>
            <td><b>{{ _("File") }}</b></td>
            <td><b>{{ _("Size") }}</b></td>
            <td><b>{{ _("Actions") }}</b></td>
        </tr>
        {% for file in files %}
        <tr>
            {% if file["prop"] %}
            <td>
                <details>
                    <summary>
                        {{ file["name"] }}
                    </summary>
                    <ul style="list-style: none;">
                    {% for key in file["prop"] %}
                        <li>{{ key }}: {{ file['prop'][key] }}</li>
                    {% endfor %}
                    <form action="/files/download" method="post">
                        <input name="file" type="hidden" value="{{ CFG_DIR }}/{{ file['name'].replace(base_dir, '') }}.{{ PROPERTIES_SUFFIX }}">
                        <input type="submit" value="{{ _("Properties File") }} &#8595;">
                    </form>
                    </ul>
                </details>
            </td>
            {% elif file["zip_members"] %}
            <td>
                <details>
                    <summary>
                        {{ file["name"] }}
                    </summary>
                    <ul style="list-style: none;">
                    {% for member in file["zip_members"] %}
                    {% if not member.lower().endswith(PROPERTIES_SUFFIX) %}
                        <li>
                            {% if member + "." + PROPERTIES_SUFFIX in file["zip_members"] %}
                            <details><summary>{{ member }}
                            <form action="/files/unzip" method="post">
                                <input name="zip_file" type="hidden" value="{{ file['name'] }}">
                                <input name="zip_member" type="hidden" value="{{ member }}">
                                <input type="submit" value="{{ _("Unzip") }}" onclick="processNotify('{{ _("Unzipping a single file...") }}')">
                            </form>
                            </summary>
                            <ul style="list-style: none;">
                                <li>
                                {{ member + "." + PROPERTIES_SUFFIX }}
                                </li>
                            </ul>
                            </details>
                            {% else %}
                            <label for="zip_member">{{ member }}</label>
                            <form action="/files/unzip" method="post">
                                <input name="zip_file" type="hidden" value="{{ file['name'] }}">
                                <input name="zip_member" type="hidden" value="{{ member }}">
                                <input type="submit" value="{{ _("Unzip") }}" onclick="processNotify('{{ _("Unzipping a single file...") }}')">
                            </form>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </details>
            </td>
            {% else %}
            <td>{{ file["name"] }}</td>
            {% endif %}
            <td style="text-align:center">
                <form action="/files/download" method="post">
                    <input name="file" type="hidden" value="{{ base_dir }}/{{ file['name'] }}">
                    <input type="submit" value="{{ file['size_mb'] }} {{ _("MB") }} &#8595;">
                </form>
            </td>
            <td>
                {% if file["name"] in attached_images %}
                <center>
                    {{ _("Attached!") }}
                </center>
                {% else %}
                {% if file["name"].lower().endswith(ARCHIVE_FILE_SUFFIX) %}
                <form action="/files/unzip" method="post">
                    <input name="zip_file" type="hidden" value="{{ file['name'] }}">
                    <input name="zip_members" type="hidden" value="{{ file['zip_members'] }}">
                    <input type="submit" value="{{ _("Unzip All") }}" onclick="processNotify('{{ _("Unzipping all files...") }}')">
                </form>
                {% else %}
                <form action="/scsi/attach" method="post">
                    <input name="file_name" type="hidden" value="{{ file['name'] }}">
                    <input name="file_size" type="hidden" value="{{ file['size'] }}">
                    <label for="id">{{ _("ID") }}</label>
                        <select name="scsi_id">
                        {% for id in scsi_ids %}
                        <option name="id" value="{{id}}"{% if id == recommended_id %} selected{% endif %}>
                            {{ id }}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="unit">{{ _("LUN") }}</label>
                    <input name="unit" type="number" size="2" value="0" min="0" max="31">
                    {% if file["detected_type"] != "UNDEFINED" %}
                        <input name="type" type="hidden" value="{{ file['detected_type'] }}">
                        {{ file["detected_type"] }}
                    {% else %}
                        <select name="type">
                        <option selected value="">
                        {{ _("Type") }}
                        </option>
                        {% for d in device_types %}
                        <option value="{{ d }}">
                            {{ d }}
                        </option>
                        {% endfor %}
                    {% endif %}
                    </select>
                    <input type="submit" value="{{ _("Attach") }}">
                {% endif %}
                </form>
                <form action="/files/rename" method="post" onsubmit="var new_file_name = prompt('{{ _("Enter new file name for: %(file_name)s", file_name=file["name"]) }}', '{{ file['name'] }}'); if (new_file_name === null) event.preventDefault(); document.getElementById('new_file_name_{{ loop.index }}').value = new_file_name;">
                    <input name="file_name" type="hidden" value="{{ file['name'] }}">
                    <input name="new_file_name" id="new_file_name_{{ loop.index }}" type="hidden" value="">
                    <input type="submit" value="{{ _("Rename") }}">
                </form>
                <form action="/files/delete" method="post" onsubmit="return confirm('{{ _("Delete file: %(file_name)s?", file_name=file["name"]) }}')">
                    <input name="file_name" type="hidden" value="{{ file['name'] }}">
                    <input type="submit" value="{{ _("Delete") }}">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><small>{{ _("%(disk_space)s MB disk space remaining on the Pi", disk_space=free_disk) }}</small></p>

<hr/>

<details>
    <summary class="heading">
        {{ _("Attach Ethernet Adapter") }}
    </summary>
    <ul>
        <li>{{ _("Emulates a SCSI DaynaPORT Ethernet Adapter. <a href=\"%(url)s\">Host drivers and configuration required</a>.", url="https://github.com/akuker/RASCSI/wiki/Dayna-Port-SCSI-Link") }}
        </li>
        <li>{{ _("If you have a DHCP setup, choose only the interface you have configured the bridge with. You can ignore the Static IP fields when attaching.") }}</li>
        <li>{{ _("Configure the network bridge by running easyinstall.sh, or follow the <a href=\"%(url)s\">manual steps in the wiki</a>.", url="https://github.com/akuker/RASCSI/wiki/Dayna-Port-SCSI-Link#manual-setup") }}
        </li>
        <li style="list-style: none">{% if bridge_configured %}</li>
        <li>{{ _("The <tt>rascsi_bridge</tt> interface is active and ready to be used by DaynaPORT!") }}</li>
        <li style="list-style: none">{% endif %}</li>
    </ul>
</details>
<table style="border: none">
    <tr style="border: none">
        <td style="border: none; vertical-align:top;">
            <form action="/daynaport/attach" method="post">
                <label for="if">{{ _("Interface:") }}</label>
                <select name="if">
                {% for if in netinfo["ifs"] %}
                    <option value="{{ if }}">
                        {{ if }}
                    </option>
                {% endfor %}
                </select>
                <label for="ip">{{ _("Static IP (optional):") }}</label>
                <input name="ip" type="text" size="15" placeholder="10.10.20.1" minlength="7" maxlength="15" pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$">
                <input name="mask" type="number" size="2" placeholder="24" min="16" max="30">
                <label for="scsi_id">{{ _("SCSI ID:") }}</label>
                <select name="scsi_id">
                {% for id in scsi_ids %}
                    <option value="{{ id }}"{% if id == recommended_id %} selected{% endif %}>
                        {{ id }}
                    </option>
                {% endfor %}
                </select>
                <input type="submit" value="{{ _("Attach") }}">
            </form>
        </td>
    </tr>
</table>
{% if macproxy_configured %}
<p><small>{{ _("Macproxy is running at %(ip_addr)s (default port 5000)", ip_addr=ip_addr) }}</small></p>
{% else %}
<p><small>{{ _("Install <a href=\"%(url)s\">Macproxy</a> to browse the Web with any vintage browser. It's not just for Macs!", url="https://github.com/akuker/RASCSI/wiki/Vintage-Web-Proxy#macproxy") }}</small></p>
{% endif %}

<hr/>
<details>
    <summary class="heading">
        {{ _("Upload File") }}
    </summary>
    <ul>
        <li>{{ _("Uploads file to <tt>%(directory)s</tt>. The largest file size accepted is %(max_file_size)s MB.", directory=base_dir, max_file_size=max_file_size) }}</li>
        <li>{{ _("For unrecognized file types, try renaming hard drive images to '.hds', CD-ROM images to '.iso', and removable drive images to '.hdr' before uploading.") }}</li>
        <li>{{ _("Recognized file types: %(valid_file_suffix)s", valid_file_suffix=valid_file_suffix) }}</li>
    </ul>
</details>

<table style="border: none">
    <tr style="border: none">
        <td style="border: none; vertical-align:top;">
            <form name="dropper" action="/files/upload" method="post" class="dropzone dz-clickable" enctype="multipart/form-data" id="dropper"></form>
        </td>
    </tr>
</table>
<script type="application/javascript">
    Dropzone.options.dropper = {
        paramName: 'file',
        acceptedFiles: '{{ valid_file_suffix }}',
        chunking: true,
        forceChunking: true,
        url: '/files/upload',
        maxFilesize: {{ max_file_size }}, // MB
        chunkSize: 1000000 // bytes
    }
</script>

<hr/>

<details>
    <summary class="heading">
        {{ _("Download File to Images") }}
    </summary>
    <ul>
        <li>{{ _("Given a URL, download that file to the <tt>%(directory)s</tt> directory.", directory=base_dir) }}</li>
    </ul>
</details>

<table style="border: none">
    <tr style="border: none">
        <td style="border: none; vertical-align:top;">
            <form action="/files/download_to_images" method="post">
                <label for="url">{{ _("URL:") }}</label>
                <input name="url" placeholder="{{ _("URL") }}" required="" type="url">
                <input type="submit" value="{{ _("Download") }}" onclick="processNotify('{{ _("Downloading File to Images...") }}')">
            </form>
        </td>
    </tr>
</table>

<hr/>

<details>
    <summary class="heading">
        {{ _("Download File to AppleShare") }}
    </summary>
    <ul>
        <li>{{ _("Given a URL, download that file to the <tt>%(directory)s</tt> directory and share it over AFP.", directory=AFP_DIR) }}</li>
        <li>{{ _("Manage the files you download here through AppleShare on your vintage Mac.") }}</li>
        <li>{{ _("Requires <a href=\"%(url)s\">Netatalk</a> to be installed and configured correctly for your network.", url="https://github.com/akuker/RASCSI/wiki/AFP-File-Sharing") }}</li>
    </ul>
</details>

{% if netatalk_configured %}
<table style="border: none">
    <tr style="border: none">
        <td style="border: none; vertical-align:top;">
            <form action="/files/download_to_afp" method="post">
                <label for="url">{{ _("URL:") }}</label>
                <input name="url" placeholder="{{ _("URL") }}" required="" type="url">
                <input type="submit" value="{{ _("Download") }}" onclick="processNotify('{{ _("Downloading File to AppleShare...") }}')">
            </form>
        </td>
    </tr>
</table>

{% if netatalk_configured == 1 %}
<p><small>{{ _("The AppleShare server is running. No active connections.") }}</small></p>
{% elif netatalk_configured == 2 %}
<p><small>{{ _("%(value)d active AFP connection", value=(netatalk_configured - 1)) }}</small></p>
{% elif netatalk_configured > 2 %}
<p><small>{{ _("%(value)d active AFP connections", value=(netatalk_configured - 1)) }}</small></p>
{% endif %}
{% else %}
<p>{{ _("Install <a href=\"%(url)s\">Netatalk</a> to use the AppleShare File Server.", url="https://github.com/akuker/RASCSI/wiki/AFP-File-Sharing") }}</p>
{% endif %}

<hr/>

<details>
    <summary class="heading">
        {{ _("Download File and Create CD-ROM image") }}
    </summary>
    <ul>
        <li>{{ _("Create an ISO file system CD-ROM image with the downloaded file, and mount it on the given SCSI ID.") }}</li>
        <li>{{ _("HFS is for Mac OS, Joliet for Windows, and Rock Ridge for POSIX.") }}</li>
        <li>{{ _("On Mac OS, a <a href=\"%(url)s\">compatible CD-ROM driver</a> is required.", url="https://github.com/akuker/RASCSI/wiki/Drive-Setup#Mounting_CD_ISO_or_MO_images") }}</li>
        <li>{{ _("If the downloaded file is a zip archive, we will attempt to unzip it and store the resulting files.") }}</li>
    </ul>
</details>
<table style="border: none">
    <tr style="border: none">
        <td style="border: none; vertical-align:top;">
            <label for="scsi_id">{{ _("SCSI ID:") }}</label>
            <form action="/files/download_to_iso" method="post">
                <select name="scsi_id">
                    {% for id in scsi_ids %}
                    <option value="{{ id }}"{% if id == recommended_id %} selected{% endif %}>
                        {{ id }}
                    </option>
                    {% endfor %}
                </select>
                <label for="url">{{ _("URL:") }}</label>
                <input name="url" placeholder="{{ _("URL") }}" required="" type="url">
                <label for="type">{{ _("Type:") }}</label>
                <select name="type">
                    <option value="-hfs">
                        HFS
                    </option>
                    <option value="-iso-level 1">
                        ISO-9660 Level 1
                    </option>
                    <option value="-iso-level 2">
                        ISO-9660 Level 2
                    </option>
                    <option value="-iso-level 3">
                        ISO-9660 Level 3
                    </option>
                    <option value="-J">
                        Joliet
                    </option>
                    <option value="-r">
                        Rock Ridge
                    </option>
                </select>
                <input type="submit" value="{{ _("Download and Mount CD-ROM image") }}" onclick="processNotify('{{ _("Downloading File and generating CD-ROM image...") }}')">
            </form>
        </td>
    </tr>
</table>

<hr/>

<details>
    <summary class="heading">
        {{ _("Create Empty Disk Image File") }}
    </summary>
    <ul>
        <li>{{ _("The Generic image type is recommended for most computer platforms.") }}</li>
        <li>{{ _("APPLE GENUINE (.hda) and NEC GENUINE (.hdn) image types will make RaSCSI behave as a particular drive type that are recognized by Mac and PC98 systems, respectively.") }}</li>
        <li>{{ _("SASI images should only be used on the original Sharp X68000, or other legacy systems that utilize this pre-SCSI standard.") }}</li>
    </ul>
</details>
<table style="border: none">
    <tr style="border: none">
        <td style="border: none; vertical-align:top;">
            <form action="/files/create" method="post">
                <label for="file_name">{{ _("File Name:") }}</label>
                <input name="file_name" placeholder="{{ _("File Name") }}" required="" type="text">
                <label for="type">{{ _("Type:") }}</label>
                <select name="type">
                    <option value="hds">
                    {{ _("SCSI Hard Disk image (Generic) [.hds]") }}
                    </option>
                    <option value="hda">
                    {{ _("SCSI Hard Disk image (APPLE GENUINE) [.hda]") }}
                    </option>
                    <option value="hdn">
                    {{ _("SCSI Hard Disk image (NEC GENUINE) [.hdn]") }}
                    </option>
                    <option value="hdr">
                    {{ _("SCSI Removable Media Disk image (Generic) [.hdr]") }}
                    </option>
                    <option value="hdf">
                    {{ _("SASI Hard Disk image (Legacy) [.hdf]") }}
                    </option>
                </select>
                <label for="size">{{ _("Size:") }}</label>
                <input name="size" type="number" placeholder="{{ _("MB") }}" min="1" size="6" required>
                <input type="submit" value="{{ _("Create") }}">
            </form>
        </td>
    </tr>
</table>

<hr/>

<details>
    <summary class="heading">
        {{ _("Create Named Drive") }}
    </summary>
    <ul>
        <li>{{ _("Create pairs of images and properties files from a list of real-life drives.") }}</li>
        <li>{{ _("This will make RaSCSI use certain vendor strings and block sizes that may improve compatibility with certain systems.") }}</li>
    </ul>
</details>
<p><a href="/drive/list">{{ _("Create a named disk image that mimics real-life drives") }}</a></p>

<hr/>

<details>
    <summary class="heading">
        {{ _("Logging") }}
    </summary>
    <ul>
        <li>{{ _("Fetch a certain number of lines of system logs with the given scope.") }}</li>
    </ul>
</details>
<table style="border: none">
    <tr style="border: none">
        <td style="border: none; vertical-align:top;">
            <form action="/logs/show" method="post">
                <label for="lines">{{ _("Log Lines:") }}</label>
                <input name="lines" type="number" placeholder="200" min="1" size="4">
                <label for="scope">{{ _("Scope:") }}</label>
                <select name="scope">
                    <option value="default">
                        default
                    </option>
                    <option value="rascsi">
                        rascsi.service
                    </option>
                    <option value="rascsi-web">
                        rascsi-web.service
                    </option>
                </select>
                <input type="submit" value="{{ _("Show Logs") }}">
            </form>
        </td>
    </tr>
</table>

<hr/>

<details>
    <summary class="heading">
        {{ _("Server Log Level") }}
    </summary>
    <ul>
        <li>{{ _("Change the log level of the RaSCSI backend process.") }}</li>
        <li>{{ _("The current dropdown selection indicates the active log level.") }}</li>
    </ul>
</details>
<table style="border: none">
    <tr style="border: none">
        <td style="border: none; vertical-align:top;">
            <form action="/logs/level" method="post">
                <label for="level">{{ _("Log Level:") }}</label>
                <select name="level">
                {% for level in log_levels %}
                    <option value="{{ level }}"{% if level == current_log_level %} selected{% endif %}>
                        {{ level }}
                    </option>
                {% endfor %}
                </select>
                <input type="submit" value="{{ _("Set Log Level") }}">
            </form>
        </td>
    </tr>
</table>

<hr/>

<details>
    <summary class="heading">
        {{ _("Raspberry Pi Operations") }}
    </summary>
    <ul>
        <li>{{ _("Reboot or shut down the Raspberry Pi that RaSCSI is running on.") }}</li>
        <li>{{ _("IMPORTANT: Always shut down the Pi before turning off the power. Failing to do so may lead to data loss.") }}</li>
    </ul>
</details>
<table style="border: none">
    <tr style="border: none">
        <td style="border: none; vertical-align:top;">
            <form action="/pi/reboot" method="post" onclick="if (confirm('{{ _("Reboot the Raspberry Pi?") }}')) shutdownNotify('{{ _("Rebooting the Raspberry Pi...") }}'); else event.preventDefault();">
                <input type="submit" value="{{ _("Reboot Raspberry Pi") }}">
            </form>
        </td>
        <td style="border: none; vertical-align:top;">
            <form action="/pi/shutdown" method="post" onclick="if (confirm('{{ _("Shut down the Raspberry Pi?") }}')) shutdownNotify('{{ _("Shutting down the Raspberry Pi...") }}'); else event.preventDefault();">
                <input type="submit" value="{{ _("Shut Down Raspberry Pi") }}">
            </form>
        </td>
    </tr>
</table>

{% endblock content %}
