{% extends "base.html" %}

    {% block content %}
    <h2>Current RaSCSI Configuration</h2>
    <p>
    <form action="/config/load" method="post">
        <select name="name" >
            {% for config in config_files %}
                <option value="{{config}}">{{config.replace(".json", '')}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="load" value="Load" />
        <input type="submit" name="delete" value="Delete" />
    </form>
    </p>
    <p>
    <form action="/config/save" method="post">
        <input name="name" placeholder="default">
        <input type="submit" value="Save" />
    </form>
    <form action="/scsi/detach_all" method="post" onsubmit="return confirm('Detach all SCSI Devices?')">
        <input type="submit" value="Detach All" />
    </form>
    </p>
    <p><small>The <em>default</em> configuration will be loaded when the Web UI starts up, if available.</small></p>

    <table cellpadding="3" border="black">
        <tbody>
        <tr>
            <td><b>ID</b></td>
            <td><b>Type</b></td>
            <td><b>Status</b></td>
            <td><b>File</b></td>
            <td><b>Product</b></td>
            <td><b>Actions</b></td>
        </tr>
        {% for device in devices %}
        <tr>
            {% if device["id"] not in reserved_scsi_ids %}
            <td style="text-align:center">{{device.id}}</td>
            <td style="text-align:center">{{device.device_type}}</td>
            <td style="text-align:center">{{device.status}}</td>
            <td style="text-align:left">{{device.file}}</td>
	    {% if device.vendor == "RaSCSI" %}
            <td style="text-align:center">{{device.product}}</td>
	    {% else %}
            <td style="text-align:center">{{device.vendor}} {{device.product}}</td>
	    {% endif %}
            <td style="text-align:left">
                {% if device.device_type in removable_device_types and "No Media" not in device.status %}
                <form action="/scsi/eject" method="post" class="table" onsubmit="return confirm('Eject Disk?')">
                    <input type="hidden" name="scsi_id" value="{{device.id}}">
                    <input type="submit" value="Eject" />
                </form>
                <form action="/scsi/info" method="post" class="table">
                    <input type="hidden" name="scsi_id" value="{{device.id}}">
                    <input type="submit" value="Info" />
                </form>
                {% else %}
                <form action="/scsi/detach" method="post" class="table" onsubmit="return confirm('Detach Disk?')">
                    <input type="hidden" name="scsi_id" value="{{device.id}}">
                    <input type="submit" value="Detach" />
                </form>
                <form action="/scsi/info" method="post" class="table">
                    <input type="hidden" name="scsi_id" value="{{device.id}}">
                    <input type="submit" value="Info" />
                </form>
                {% endif %}
            </td>
            {% else %}
            <td class="inactive">{{device.id}}</td>
            <td class="inactive"></td>
            <td class="inactive">Reserved ID</td>
            <td class="inactive"></td>
            <td class="inactive"></td>
            <td class="inactive"></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>
    <h2>Image File Management</h2>
    <table cellpadding="3" border="black">
        <tbody>
        <tr>
            <td><b>File</b></td>
            <td><b>Size</b></td>
            <td><b>Actions</b></td>
        </tr>
        {% for file in files %}
        <tr>
            <td>{{file["name"].replace(base_dir, '')}}</td>
            <td style="text-align:center">
                <form action="/files/download" method="post" class="table">
                    <input type="hidden" name="image" value="{{file["name"].replace(base_dir, '')}}">
                    <input type="submit" value="{{file["size_mb"]}} MB &#8595;" />
                </form>
            </td>
            <td>
                <form action="/scsi/attach" method="post" class="table">
                    <input type="hidden" name="file_name" value="{{file["name"]}}">
                    <input type="hidden" name="file_size" value="{{file["size"]}}">
                    <select name="scsi_id">
                        {% for id in scsi_ids %}
                        <option value="{{id}}">{{id}}</option>
                        {% endfor %}
                    </select>
                    {% if not file["name"].lower().endswith(archive_file_suffix) %}
                    <input type="submit" value="Attach" />
		    {% endif %}
                </form>
                <form action="/files/delete" method="post" class="table" onsubmit="return confirm('Delete file?')">
                    <input type="hidden" name="image" value="{{file["name"].replace(base_dir, '')}}">
                    <input type="submit" value="Delete" />
                </form>
                {% if file["name"].lower().endswith(archive_file_suffix) %}
                <form action="/files/unzip" method="post" class="table">
                    <input type="hidden" name="image" value="{{file["name"].replace(base_dir, '')}}">
                    <input type="submit" value="Unzip" />
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p><small>Available disk space on the Pi: {{free_disk}} MB</small></p>

    <hr/>
    <h2>Attach Ethernet Adapter</h2>
    <p>Emulates a SCSI DaynaPORT Ethernet Adapter. <a href="https://github.com/akuker/RASCSI/wiki/Dayna-Port-SCSI-Link#-macintosh-setup-instructions">Host drivers required.</a></p>
    <p>If you have a DHCP setup, ignore the Static IP fields.</p>
    <table style="border: none">
        <tr style="border: none">
            <td style="border: none; vertical-align:top;">
                <form action="/daynaport/attach" method="post">
		    <label for="if">Interface:</label>
		    <select name = "if">
			{% for if in netinfo["ifs"] %}
			<option value="{{if}}">{{if}}</option>
			{% endfor %}
                    </select>
		    <label for="ip">Static IP (optional):</label>
		    <input type="text" name="ip" size="15" placeholder="10.10.20.1" />/
		    <input type="text" name="mask" size="2" placeholder="24">
		    <label for="scsi_id">SCSI ID:</label>
                    <select name="scsi_id">
                        {% for id in scsi_ids %}
                        <option value="{{id}}">{{id}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Attach" />
                </form>
            </td>
        </tr>
        <tr style="border: none">
            <td style="border: none; vertical-align:top;">
                {% if bridge_configured %}
                <small>Bridge is currently configured!</small>
                {% else %}
		<small>Bridge is automatically configured when a network adapter is attached.</small>
                {% endif %}
            </td>
        </tr>
    </table>

    <hr/>
    <h2>Upload File</h2>
    <p>Uploads file to <tt>{{base_dir}}</tt>. The largest file size accepted is {{max_file_size}} MB</p>
    <table style="border: none">
        <tr style="border: none">
            <td style="border: none; vertical-align:top;">
                <form method="POST" action="/files/upload" class="dropzone dz-clickable" id="dropper" enctype="multipart/form-data">
                </form>
            </td>
        </tr>
    </table>
    <script type="application/javascript">
    Dropzone.options.dropper = {
        paramName: 'file',
        chunking: true,
        forceChunking: true,
        url: '/files/upload',
        maxFilesize: {{max_file_size}}, // MB
        chunkSize: 1000000 // bytes
    }
    </script>
    <p><small>Recognized file types: {{valid_file_suffix}}</small></p>

    <hr/>

    <h2>Download File from Web</h2>
    <p>Given a URL, download that file to the <tt>{{base_dir}}</tt></p>
    <table style="border: none">
        <tr style="border: none">
            <td style="border: none; vertical-align:top;">
                <form action="/files/download_image" method="post">
                    <label for="url">URL:</label>
                    <input type="text" placeholder="URL" name="url" />
                    <input type="submit" value="Download" />
                </form>
            </td>
        </tr>
    </table>

    <hr/>

    <h2>Download File from web and create HFS CD (Macintosh)</h2>
    <p>Given a URL this will download a file, create a HFS iso, and mount it on the SCSI ID given. Requires a <a href="https://github.com/akuker/RASCSI/wiki/Drive-Setup#Mounting_CD_ISO_or_MO_images">compatible CD-ROM driver</a>.</p>
    <table style="border: none">
            <tr style="border: none">
                <td style="border: none; vertical-align:top;">
                <label for="scsi_id">SCSI ID:</label>
                <form action="/files/download_to_iso" method="post">
                    <select name="scsi_id">
                        {% for id in scsi_ids %}
                        <option value="{{id}}">{{id}}</option>
                        {% endfor %}
                    </select>
                    <label for="url">URL:</label>
                    <input type="text" placeholder="URL" name="url" />
                    <input type="submit" value="Download and Mount ISO" />
                </form>
            </td>
        </tr>
    </table>

    <hr/>

    <h2>Create Empty Disk Image File</h2>
    <table style="border: none">
            <tr style="border: none">
                <td style="border: none; vertical-align:top;">
                <form action="/files/create" method="post">
                    <label for="file_name">File Name:</label>
                    <input type="text" placeholder="File name" name="file_name"/>
                    <label for="type">Type:</label>
                    <select name="type">
                        <option value="hds">SCSI Hard Disk image (Generic - recommended for most systems) [.hds]</option>
                        <option value="hdn">SCSI Hard Disk image (NEC GENUINE) [.hdn]</option>
                        <!-- Disabling due to https://github.com/akuker/RASCSI/issues/232
			<option value="hdi">SCSI Hard Disk image (Anex86 HD image) [.hdi]</option>
			<option value="nhd">SCSI Hard Disk image (T98Next HD image) [.nhd]</option> -->
                        <option value="hdr">SCSI Removable Media Disk image (Generic) [.hdr]</option>
                        <option value="hdf">SASI Hard Disk image (legacy format) [.hdf]</option>
                    </select>
                    <label for="size">Size(MB):</label>
                    <input type="number" placeholder="Size(MB)" name="size"/>
                    <input type="submit" value="Create" />
                </form>
            </td>
        </tr>
    </table>

    <hr/>

    <h2>Create Named Drive</h2>
    <p><a href="/drive/list">Ceate a named disk image with a companion properties file that mimics real-life drives</a></p>

    <hr/>

    <h2>Logging</h2>
    <table style="border: none">
        <tr style="border: none">
            <td style="border: none; vertical-align:top;">
                <form action="/logs/show" method="post">
                    <label for="lines">Log Lines:</label>
                    <input type="text" placeholder="200" name="lines"/>
                    <label for="scope">Scope:</label>
                    <select name="scope">
                        <option value="default">default</option>
                        <option value="rascsi">rascsi.service</option>
                        <option value="rascsi-web">rascsi-web.service</option>
                    </select>
                    <input type="submit" value="Show Logs" />
                </form>
            </td>
	</tr>
    </table>

    <hr/>

    <h2>Server Log Level</h2>
    <table style="border: none">
        <tr style="border: none">
            <td style="border: none; vertical-align:top;">
		<form action="/logs/level" method="post">
		    <label for="level">Log Level:</label>
		    <select name="level">
			{% for level in server_info["log_levels"] %}
			<option value="{{level}}">{{level}}</option>
			{% endfor %}
                    </select>
		    <input type="submit" value="Set Log Level" />
		</form>
            </td>
        </tr>
    </table>

    <hr/>

    <h2>Raspberry Pi Operations</h2>
    <table style="border: none">
            <tr style="border: none">
                <td style="border: none; vertical-align:top;">
                <form action="/pi/reboot" method="post" onsubmit="return confirm('Reboot Pi?')">
                    <input type="submit" value="Reboot Raspberry Pi" />
                </form>
            </td>
            <td style="border: none; vertical-align:top;">
                <form action="/pi/shutdown" method="post" onsubmit="return confirm('Shutdown Pi?')">
                    <input type="submit" value="Shut Down Raspberry Pi" />
                </form>
            </td>

            <td style="border: none; vertical-align:top;">
                <form action="/rascsi/restart" method="post" onsubmit="return confirm('Restart RaSCSI?')">
                    <input type="submit" value="Restart RaSCSI Service" />
                </form>
            </td>
        </tr>
    </table>

{% endblock %}
