[Unit]
Description=Monitor RaSCSI service
After=network.target rascsi.service

[Service]
Type=simple
Restart=always
RestartSec=2s
ExecStart=/home/pi/RASCSI/src/oled_monitor/start.sh
ExecStop=/bin/pkill --signal 2 -f "python3 rascsi_oled_monitor.py"
# Sleep 2s as a crude way for the python interrupt handler to take effect and show the shutdown splash
ExecStop=/bin/sleep 2
SyslogIdentifier=RASCSIMON

[Install]
WantedBy=multi-user.target
