name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install cross compile toolchain
      run: sudo apt-get install gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf binutils-arm-linux-gnueabihf
    - uses: actions/checkout@v2
    - name: make
      run: make all DEBUG=1
      working-directory: ./src/raspberrypi

#  buildroot-image:
#    runs-on: ubuntu-latest
#    steps:
#      - name: git-fetch buildroot
#        run: git clone git://git.busybox.net/buildroot
#      - name: make defconfig
#        run: make raspberrypi4_defconfig
#        working-directory: ./buildroot
#      - name: make
#        run: make all
#        working-directory: ./buildroot
