name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
#    - name: configure
#      run: ./configure
    - name: make
      run: make all
      working-directory: ./src/raspberrypi
#    - name: make check
#      run: make check
#    - name: make distcheck
#      run: make distcheck
